.notification {
  color: green;
  background: gray;
  padding: 8px;
  border: 2px green solid;
  border-radius: 5px;
}

.error {
  color: red;
  background: gray;
  padding: 8px;
  border: 2px red solid;
  border-radius: 5px;
}
